.header__logo {
    margin: 48px 0 40px;
    max-width: 142px;
    max-height: 33px;
}

@media screen and (max-width: 918px) {
    .header__logo {
        margin: 28px 27px 27px;
        max-width: 103px;
        max-height: 24px;
    }
}