.footer {
    max-width: 880px;
    margin: 0 auto 0;
    padding: 69px 19px 60px;

}

@media screen and (max-width: 618px) {
    .footer {
        font-size: 14px;
        line-height: 17px;
        padding-top: 52px;
        padding-bottom: 32px;
    }
}